version: "3"

services:
  postgres:
    image: public.ecr.aws/bitnami/postgresql:12
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres

  redis:
    image: public.ecr.aws/bitnami/redis:5.0.14
    ports:
      - "6379:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
